<tr> 
  <th><%= subject.id %></th> 
  <td><%= subject.name %></td>
  <td><%= subject.description %></td>
  <td><%= subject.created_at %></td>
  <td>
    <div class="pull-right">
      <%= link_to t("edit"), edit_admin_subject_path(subject),
        class: "btn btn-primary" %>
      <%= link_to t("delete"), [:admin, subject], method: :delete,
        data: {confirm: "You sure"}, class: "btn btn-danger" %>
    </div>
  </td>
</tr>
