<div class="about-content">
  <h1><%= t "about.t" %></h1>
  <p><%= t "about.ad" %></p>
  <ul style="list-style-type:disc">
    <li><%= t "about.ad1" %></li>
    <li><%= t "about.ad2" %></li>
  </ul>
  <p><%= t "about.mem" %></p>
  <ul style="list-style-type:disc">
    <li><%= t "about.mem1" %></li>
    <li><%= t "about.mem2" %></li>
    <li><%= t "about.mem3" %></li>
  </ul>
</div>
