<h1><%= t "user.login" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= link_to t("user.forgot_password"), "#" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t "user.remember_me" %></span>
      <% end %>

      <%= f.submit t("user.login"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
