<div class="panel panel-info">
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= t "profile.information" %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= render "profile" %>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12  col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= render "courses_options" %>
          <%= render "list_subjects" %>
        </div>
      </div>
      <div class="col-md-4 col-sx-12">
        <h3><%= t "course.activity" %></h3>
      </div>
    </div>
  </div>
</div>
