<div class="panel panel-info">
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= t "profile.information" %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3" align="center"><%= gravatar_for @user %></div>
      <div class=" col-md-9">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td><%= t "profile.name" %></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td><%= t "profile.email" %></td>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>
