<div class="panel panel-success subject">
  <div class="panel-heading"><h3><%= @title_for_layout %></h3></div>
  <div class="panel-body">
    <%= render "user_subjects/update_form" %>
    <span class="basic-info">
      <%= render "user_subjects/basic_info" %>
    </span>
    <span>
      <h3 class="instruction"><%= t "subject.instruction" %></h3> 
      <%= link_to t("subject.hide"),
        "javascript:hidden_content('#subject-description-detail')" %>
      <p id="subject-description-detail">
        <%= @user_subject.course_subject.subject.description %>
      </p>
    </span>
    <span>
      <h3><%= t "subject.activity" %></h3>
      <ul>
        <% if @activities.any? %>
          <% @activities.each do |activity| %>
            <li>
              <%= activity.description %>
              <span class="timestamp"> 
                <%= time_ago_in_words activity.created_at %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </span>
  </div>
</div>
