<div class="jumbotron course-jumbotron">
  <div class="list-user-of-course">
    <%= link_to t("user_courses.users_list"), course_members_path(@course) %>
  </div>
  <h1><%= @title_for_layout %></h1>
  <hr>
  <div class="row text-center">
    <% if @course_subjects.any? %>
      <% @course_subjects.each do |course_subject| %>
        <% get_user_subject course_subject %>
        <% if @user_subject.present? %>
          <%= link_to @user_subject.course_subject.subject.name, @user_subject,
            class: "btn btn-info btn-width-subject" %>
        <% else %>
          <span class="label label-success">
            <%= course_subject.subject.name %>
          </span> 
        <% end %>
      <% end %>
    <% end %>
  </div>
  <center><i><%= t "user_courses.subjects" %></i></center>
  <span><%= @course.description %></span>
</div>
