<tr> 
  <th><%= user.id %></th> 
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>  
  <td><%= user.created_at %></td> 
  <td>
    <div class="pull-right">
      <%= link_to t("edit"), edit_admin_user_path(user),
        class: "btn btn-primary" %>
      <%= link_to t("delete"), [:admin, user], method: :delete,
        data: {confirm: t("you_sure")}, class: "btn btn-danger" %>
    </div>
  </td>
</tr>
