<tr> 
  <th><%= course.id %></th> 
  <td><%= link_to course.name, admin_course_path(course) %></td>
  <td><%= course.description %></td>
  <td><%= course.start_date %></td>
  <td><%= course.end_date %></td>
  <td>
    <% if course.managed_by? current_superuser %>
      <div class="pull-right">
        <%= link_to t("edit"), edit_admin_course_path(course),
          class: "btn btn-primary" %>
        <%= link_to t("delete"), [:admin, course], method: :delete,
          data: {confirm: t("you_sure")}, class: "btn btn-danger" %>
      </div>
    <% end %>
  </td>
</tr>
