<tr> 
  <th><%= course.id %></th> 
  <td><%= link_to course.name, admin_course_path(course) %></td>
  <td><%= course.description %></td>
  <td><%= course.start_date %></td>
  <td><%= course.end_date %></td>
  <td>
    <% if course.managed_by? current_superuser %>
      <div class="pull-right">
        <% if course.not_start? %>
          <%= link_to t("start"), admin_course_path(course, status: Settings.start),
            method: :patch, class: "btn btn-success" %>
          <%= link_to t("edit"), edit_admin_course_path(course),
            class: "btn btn-primary" %>
        <% end %>
        <% if course.trainning? %>
          <%= link_to t("finish"), admin_course_path(course, status: Settings.finish),
            method: :patch, class: "btn btn-success" %>
        <% end %>
        <%= link_to t("delete"), [:admin, course], method: :delete,
          data: {confirm: t("you_sure")}, class: "btn btn-danger" %>
      </div>
    <% end %>
  </td>
</tr>
