<table class="table table-user-information">
  <tbody>
    <tr>
      <td><%= t "name" %></td>
      <td><%= @course.name %></td>
    </tr>
    <tr>
      <td><%= t "description" %></td>
      <td><%= @course.description %></td>
    </tr>
    <tr>
      <td><%= t "start_date" %></td>
      <td><%= @course.start_date %></td>
    </tr>
    <tr>
      <td><%= t "end_date" %></td>
      <td><%= @course.end_date %></td>
    </tr>
  </tbody>
</table>
