<b><%= t "admin.course.admins" %></b>
<ul>
  <% @admins.each do |admin| %>
  <li>
    <%= admin.email %>
  </li>
  <% end %>
  <% if @course.managed_by? current_superuser %>
    <li><%= link_to t("admin.course.add_admin"),
      new_admin_course_superuser_course_path(@course) %></li>
  <% end %>
</ul>
<br>
<b><%= t "admin.course.users" %></b>
<ul>
  <% @users.each do |user| %>
  <li>
    <%= user.email %>
    <% if @course.managed_by?(current_superuser) && @course.not_start? %>
      <%= link_to "",
        admin_course_user_course_path(@course, @course.get_user_course(user)),
        method: :delete, data: {confirm: t("you_sure")},
        class: "glyphicon glyphicon-remove" %>
    <% end %>
  </li>
  <% end %>
  <% if @course.managed_by?(current_superuser) && @course.not_start? %>
    <li><%= link_to t("admin.course.add_user"),
      new_admin_course_user_course_path(@course) %></li>
  <% end %>
</ul>
