<h1><%= t "admin.course.my_course" %></h1>
<br>
<br>
<%= will_paginate %>
<table class="table table-hover"> 
  <tbody>
    <tr> 
      <th>#</th> 
      <th><%= t "name" %></th> 
      <th><%= t "description" %></th> 
      <th><%= t "start_date" %></th> 
      <th><%= t "end_date" %></th>
      <th></th>
    </tr>
    <ul class="courses">
      <%= render @superuser_courses %>
    </ul>
  </tbody>
</table>
<%= will_paginate %>
