<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"><%= t "header.nav" %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t "header.brand" %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t("header.courses"), user_courses_path %></li>
        <li><%= link_to t("header.about"), about_path %></li>
        <li><%= link_to t("header.help"), help_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to t("user.logout"), logout_path, method: "delete" %><li>
        <% else %>
          <li><%= link_to t("user.login"), login_path %></li>
        <% end %>
    </div>
  </div>
</nav>
