<!DOCTYPE html>
<html>
<head>
  <title><%= t "header.brand" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header_admin" %>
  <div class="container">
    <%= render "layouts/flash" %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
