<h1><%= @title_for_layout  %></h1>
<hr>
<table class="table table-hover"> 
  <thead> 
    <tr> 
      <th>#</th> 
      <th><%= t "user_courses.member.username" %></th> 
      <th><%= t "user_courses.member.email" %></th> 
      <th><%= t "user_courses.member.create_at" %></th> 
    </tr> 
  </thead> 
  <tbody> 
    <% @user_courses.each_with_index do |user_course, index| %>
      <tr> 
        <th scope="row"><%= index + 1 %></th> 
        <td><%= user_course.user.name %></td>
        <td><%= user_course.user.email %></td>  
        <td><%= user_course.user.created_at %></td> 
      </tr> 
    <% end %>
  </tbody> 
</table>
